<!DOCTYPE html>
<html>
  <head>
      <title>Welcome to FlaskTaskr!!</title>

      <!-- styles -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

      <!-- scripts -->
      <scripts src="/static/js/bootstrap.min.js"></script>
      <scripts src="/static/js/jquery-3.3.1.min.js"></script>
  </head>
  <body>
    <div class="page">

      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}

      {% if error %}
        <div class="error"><strong>Error:</strong> {{ error }}</div>
      {% endif %}

      <br>

      {% block content %}
      {% endblock %}

    </div>
  </body>
</html>
